<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PastebinInVS.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PastebinInVS.Settings>
            <setting name="DeveloperApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PasteExpireTime" serializeAs="String">
                <value>10D</value>
            </setting>
            <setting name="PasteLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="PastePrivate" serializeAs="String">
                <value>0</value>
            </setting>
        </PastebinInVS.Settings>
    </userSettings>
</configuration>